# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. MatPlotLib
4. Scikit-Learn

| Data Science Tools |
| -------- | 
| Jupyter Notebook  | 
| RStudio   |
| Keras |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
print(200 // 60, "hours")

3 hours

**Objectives:**
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell introducing arithmetic expression examples
- Create a markdown cell introducing arithmetic expression examples

## Author
George John